body{
	font-family: 'Nunito Sans', sans-serif;
	font-weight:400;
}
h1,h2,h3{
	margin:0;
}
a{
	text-decoration:none;
	color:white;
}
header{
	height:107px;
	background-color:#2E3190;
	color:white;
}
.container{
	margin:0 107px;
}
header h1{
	float:left;
}
header img.logo{
	height: 87px;
    padding: 10px 0;
}
header nav{
	float:right;
	width:50%;
}
header nav ul{
	list-style:none;
	padding: 0;
    margin: 0;
	text-align:right;
}
header nav ul li{
	text-align:center;
	display:inline-block;
	margin:0 25px;
}
header nav ul li img{
	display:block;
	width: auto;
    margin: 10px auto;
}
header nav ul li{
	font-size:12px;
}
header div.unveil{
	margin:0;
	text-align:center;
	font-size:36px;
	padding-top: 50px;
	font-weight: 900;
	float: left;
    margin-left: 30px;
}
.share-icons{
	position:fixed;
	top:45%;
	right:0;
	z-index:99;
}
.share-icons ul{
	list-style:none;
	padding:0;
	margin:0;
	
}
.share-icons ul li{
	display:block;
	height:46px;
	
}
.share-icons ul li a{
	background:none !important;
	border:none !important;
	padding:0 !important;
	margin:0 !important;
}
section#main{
	background: url(../images/cop-night-bg.jpg) no-repeat;
    height: 700px;
    background-size: cover;
    background-position: center;
	z-index: 0;
    position: relative;
}
section#main .slide ul{
	height:100%;
	width:100%;
	padding:0;
	padding-bottom:50px;
}
section#main .slide ul:before{
	content: "";
    width: 100%;
    height: inherit;
    background: #000000;
    display: block;
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 0.5;
}
section#main div.content{
	padding-top:170px;
	text-align:center;
	color:white;
}
section#main h2{
	font-size:40px;
	font-weight:900;
}
section#main .slide{
	height: 100%;
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: -2;
	background:none;
}
section#main .slide .dots{
	bottom:0px;
	padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
section#main .slide .arrow .arrow-left {
	 background: url("../images/sliders/arrow-left.png");
}
section#main .slide .arrow .arrow-right {
	 background: url("../images/sliders/arrow-right.png");
}
section#main p{
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 60px;
}
section#main span{
	font-size:30px;
	display:block;
}
section#main .action-block a{
	font-size: 18px;
	font-weight: 900;
	display:inline-block;
	background:#0071BA;
	color:white;
	width:auto;
	height: auto;
	padding: 10px 15px;
	border-radius:10px;
	text-decoration:none;
	border: 2px solid white;
	margin-top: 15px;
}
section#main .action-block{
	margin-bottom:50px;
}
section#main #book-event a{
	margin: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    padding-top: 5px;
}
#enquire div{
	margin-top:7px;
}
section#contact{
	background: url('../images/cop_bg2_02.jpg') no-repeat;
	background-size: cover;
    background-position: center;
    height: 270px;
	z-index: 0;
    position: relative;
	text-align:center;
}
section#contact div.card{
	width:33%;
	float:left;
}
section#contact div.card>div{
	width:330px;
	height:185px;
	margin:45px 27px;
	display:inline-block;
	color:white;
	border:2px solid white;
	background:rgba(78,193,197,0.3);
	position: relative;
	margin-bottom: 0;
}
section#contact div.card h3,section#contact div.card p{
	margin:0;
	margin-top: 25px;
}
section#contact div.card h3{
	font-weight:900;
	font-size:21px;
}
section#contact div.card p{
	font-size:12px;
}

section#contact div.card a{
	font-size:14px;
	display:inline-block;
	border: 2px solid white;
	width:205px;
	height: 30px;
	padding-top: 15px;
	position: absolute;
	bottom: 10px;
	left: 66px;
}
footer{
	background:#2E3190;
}
footer .logo{
	width:235px;
	margin: 0 auto;
	padding-top:10px;
}
footer .logo img{
	width:inherit;
}
footer ul{
	list-style:none;
	padding:0;
	margin:0;
	text-align:center;
	padding:10px;
}
footer ul li{
	display:inline-block;
	margin:0 15px;
}
footer ul li a{
	font-size:11px;
	font-weight:100;
	
}