@media (max-width:768px){
	.container{
		margin:0 20px;
	}
	.sm-hidden{
		display:none;
	}
	header{
		padding:20px;
		height:auto;
		padding-bottom:5px;
	}
	
	header h1{
		float:none;
		text-align: center;
	}
	header div.unveil{
		font-size: 23px;
		padding-top: 0;
		float: none;
		margin: 10px 0;
	}
	header nav{
		display:inline-block;
		float: none;
		width: 100%;
	}
	header nav ul li{
		width: 31%;
		margin: 0;
		margin-bottom: 20px;
	}
	section#main h2,section#main p{
		font-size: 22px;
		margin-bottom: 15px;
	}
	section#main p{
		margin:15px;
	}
	section#main span{
		font-size: 20px;
		margin-top:20px;
	}
	section#main div.content{
		padding-top:45px;
		margin: 0 50px;
	}
	section#main,section#contact{
		height:100%;
		padding-bottom: 45px;
	}
	section#main #book-event{
		margin-bottom:-10px;
	}
	.share-icons{
		position:relative;
	}
	.share-icons ul{
		text-align:center;
	}
	.share-icons ul li{
		display: inline-block;
		width:20%;
		height:auto;
		margin-right: -4px;
	}
	.share-icons ul li img{
		width:100%;
		margin-bottom: -4px;
	}
	section#contact div.card{
		width:100%;
		float:none;
	}
	section#contact div.card a{
		position: relative;
		margin-top: 10px;
		bottom:initial;
		left:initial;
	}
	section#contact div.card>div{
		width: 100%;
		margin:20px 0px;
	}
	section#contact div.card p{
		font-size:16px;
	}
	
}
@media (max-width:320px){
	section#main #book-event a{
		margin:10px auto;
		width:85%;
	}
	header{
		padding:10px;
	}
	.xs-hidden{
		display:none;
	}
}